name: .NET CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore BackendPractice.sln

    - name: Build
      run: dotnet build BackendPractice.sln --configuration Release --no-restore

    # We keep tests local for now, CI is having vstest issues
    # - name: Test
    #   run: dotnet test SampleApi.Tests/SampleApi.Tests.csproj --no-build --verbosity normal

    - name: Publish web app
      run: dotnet publish SampleApi/SampleApi.csproj -c Release -o published

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'sepideh-ci-api'        # change if your app name is different
        package: ./published
